@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600;700');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url('../../assets/images/UserRegister/train1.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  backdrop-filter: blur(6px);
}
.container {
  max-width: 700px;
  width: 100%;

  margin-top: 100px;
  background: #fff;
  padding: 5px 30px;
  border-radius: 5px;
}
.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container form .userdetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .userdetails .inputbox {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.userdetails .inputbox .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.userdetails .inputbox input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3 ease;
}
select {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3 ease;
}
.userdetails .inputbox input:focus,
.userdetails .inputbox input:valid {
  border-color: #9b59b6;
}

form .genderdetails .gtitle {
  font-size: 20px;
  font-weight: 500;
}

form .button {
  height: 45px;
  margin: 30px 0;
}
form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: #9b59b6;
}
form .button input:hover {
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .userdetails .inputbox {
    margin-bottom: 15px;
    width: 100%;
  }
  form .genderdetails .category {
    width: 100%;
  }
  .container form .userdetails {
    max-height: 300px;
    overflow-y: scroll;
  }
  .userdetails::-webkit-scrollbar {
    width: 0;
  }
}
