.UserRegister {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: url('../../assets/images/UserRegister/train1.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  backdrop-filter: blur(6px);
}

.container {
  max-width: 700px;
  width: 100%;

  margin-top: 6rem;
  margin-bottom: 4rem;

  background: #fff;
  padding: 20px 30px;
  border-radius: 5px;
}

.userDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

.inputField {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.inputField input {
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ddd;
  background: #fff;

  padding: 0.3rem 0.5rem;
  font-size: 16px;
  transition: all 0.3 ease;
}

.UserRegister select {
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ddd;
  background: #fff;

  padding: 0.3rem 0.5rem;
  font-size: 16px;
  transition: all 0.3 ease;
}

.inputField input:focus {
  border-color: #9b59b6;
}

.button {
  display: block;
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;

  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: #9b59b6;
}

.button:hover {
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

.signUpText {
  color: #333;
  font-size: 1rem;
}

.signUpText > a {
  margin-left: 0.2rem;
}

.loginSignUp {
  text-align: center;
  margin-top: 0.5rem;
}

.UserRegister .inputFieldError :where(input, select, textarea) {
  border-color: red;
}

.otpContainer {
  display: flex;
  gap: 1rem;
}

.otpContainer > input {
  flex-grow: 1;
}

.otpContainer > button {
  min-width: 100px;
  border-radius: 5px;
  background-color: #9b59b6;
  border: transparent;
  color: white;
}

@media (max-width: 700px) {
  .UserRegister {
    padding: 0.5rem;
  }

  .container {
    max-width: 100%;
  }

  .inputField {
    margin-bottom: 15px;
    width: 100%;
  }
  .category {
    width: 100%;
  }
  .userDetails {
    overflow-y: scroll;
  }
  .userDetails::-webkit-scrollbar {
    width: 0;
  }
}
