/* faq and news section */
.faqAndNews {
  display: grid;
  justify-content: center;
  grid-template-columns: 50% 30%;
  gap: 5rem;
  padding: 6rem 2rem;

  align-items: start;

  background-color: rgb(248, 249, 254);
}

.slide {
  padding: 1rem 2rem;
  text-align: center;
}

.faq h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.news {
  background-color: white;
  box-shadow: var(--box-shadow);
  padding: 1rem 1.5rem;

  border-radius: 5px;
  height: 100%;
}

.news a {
  color: rgb(var(--txt-dark));
  text-decoration: none;
}

.news a:hover {
  text-decoration: underline;
}

.news h2 {
  padding-bottom: 0.8rem;
}

@media (max-width: 900px) {
  .faqAndNews {
    grid-template-columns: 100%;
  }
}
