.banner {
  position: relative;

  min-height: 100vh;
  min-height: 100dvh;

  display: flex;
  justify-content: space-around;
  align-items: center;

  gap: 2rem;
  padding-top: 4rem;
}

.banner::before {
  content: '';

  position: absolute;
  inset: 0;

  background-image: url('../../assets/images/home/train4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);

  z-index: -1;
}

.trainSearchFormContainer {
  flex-basis: 45%;

  background-color: rgb(var(--bg-white));
  border-radius: 5px;
  padding: 1.5rem 2rem;
}

.trainSearchFormContainer > h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: rgb(63, 62, 62);

  font-size: xx-large;
  font-weight: bolder;
}

.bannerDetail {
  flex-basis: 40%;
}

.inputContainer label {
  display: block;
  align-items: left;
  font-weight: bold;
}

.inputContainer {
  margin-bottom: 1rem;
}

.inputContainer > input {
  width: 100%;
  padding: 0.25rem;
}

.arrowIcon > svg {
  margin-inline: auto;
  font-weight: bold;
  cursor: pointer;
}

.buttonAvailability {
  display: block;
  margin-inline: auto;
  margin-top: 1.5rem;
  color: #fff;
  background-color: rgb(63, 62, 62);
  font-weight: bold;

  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
}

.bannerDetail {
  position: relative;
  top: -5rem;
}

.heading {
  color: rgb(63, 62, 62);

  font-size: 3rem;
  font-weight: bolder;
  text-align: left;

  line-height: 1;
}

.paragraph {
  color: white;
  max-width: 50ch;
}

@media (max-width: 760px) {
  .bannerDetail {
    display: none;
  }

  .trainSearchFormContainer {
    flex-basis: 90%;
  }
}

/* Information container */
.allInformation {
  scroll-margin-top: 3rem;
  padding-block: 1rem;
  padding-inline: 3rem;

  background-color: rgb(var(--bg-light));
}

.allInformation h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.allInformation h2 > span {
  display: block;
}

.information {
  padding: 1rem;
  margin-bottom: 2rem;

  text-align: center;
  box-shadow: var(--box-shadow);
  background-color: rgb(var(--bg-white));
  border-radius: 5px;
}

.information > img {
  max-width: 4rem;
  min-width: 4rem;
  margin-bottom: 1rem;
}

@media (min-width: 720px) {
  .allInformation {
    padding-top: 4rem;
    padding-bottom: 6rem;
  }

  .allInformation h2 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  .informationContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .information {
    margin-bottom: 0;
  }
}

/* faq and news section */
.faqAndNews {
  display: grid;
  justify-content: center;
  grid-template-columns: 50% 30%;
  gap: 5rem;
  padding: 3rem;

  align-items: start;

  background-color: rgb(0, 0, 0, 0.4);
}

.slide {
  padding: 1rem 2rem;
}

.faq h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.news {
  background-color: white;
  box-shadow: var(--box-shadow);
  padding: 1rem 2rem;

  border-radius: 5px;
  height: 100%;
}
