.Navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.links {
  display: flex;
  gap: 1rem;
}

.links > li {
  list-style: none;
}

.links > li > a {
  color: rgb(var(--txt-dark));
  text-decoration: none;
}

.links > li > a:hover {
  text-decoration: underline;
}
