.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1rem;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 1000;

  background-color: rgb(var(--bg-white));
}

.links {
  display: flex;
  gap: 1rem;
}

.links > li {
  list-style: none;
}

.links > li > a {
  color: rgb(var(--txt-dark));
  text-decoration: none;
}

.links > li > a:hover {
  text-decoration: underline;
}
